/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

.container{
    width: 80%;
    max-width: 1170px;
    margin: 0 auto;
}

/* sezione header */

.header-top{
    height: 80px;
}

.jumbotron{
    height: 700px;
}


/* sezione main */










/* sezione footer */
footer{
    background-color: black;
}









/* sezione debug */

.debug .header-top{
    background-color: red;
}

.debug .jumbotron{
    background-color: #b4d0e7;

}


.debug #piano-dropbox{
    height: 800px;
    background-color: blue;
}

.debug #trova-partner{
    height: 500px;
    background: yellow;

}

.debug #operazioni-dropbox{
    height: 800px;
    background-color: chocolate;
}

.debug #scopri-clienti{
    height: 500px;
    background-color: green;
}

.debug #inizia-prova{
    height: 300px;
    background-color: pink;
}

.debug #domande{
    height: 600px;
    background-color: rgb(255, 147, 74);
}


.debug footer{
    height: 800px;
}