/* formattazione pagina */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Space Grotesk', sans-serif;
}

.container{
    width: 70%;
    max-width: 1170px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;

}

.check{
    display: inline-block;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    
}

/* sezione elementi flottanti */

.float-sx{
    float: left;
}

.float-dx{
    float: right;
}


/* sezione hover */

nav li:hover{
    border-bottom: 2px solid black;
    width: auto;
}

.header-top .btn:hover a,
.jumbo-box .btn:hover a,
.col-info .btn:hover a{
    background-color: #3b85ff;
    
}

.col-info span a:hover,
#operazioni-dropbox p>a:hover,
#scopri-clienti span>a:hover{
    text-decoration: none;
}




/* sezione header */

.header-top{
    height: 83px;
    padding: 0 20px;
    line-height: 80px;
    text-align: center;
    background: white;
    border-bottom: 1px solid lightgrey;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 300;  

}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

#logo{
    width: 120px;
    line-height: 80px;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

header li{
    display: inline-block;
    margin: 0 20px;

}

nav a{
    font-size: 18px;
}


.header-top .btn{
    display: inline-block;
}

.btn a{
    background-color: #0061ff;
    padding: 10px 20px;
    margin-left: 20px;
    color: white;
}

/* sezione jumbotron prima della correzione

.jumbotron{
    
    position: relative;
    padding-bottom: 97px;

}

.jumbo-box{
    
    background-color: #b4d0e7;
    padding: 150px 50px 0;
    font-family: Arial, Helvetica, sans-serif;
}
 
/* riga del titolo del jumbotron */
/* .jumbo-box .row h1{
    font-size: 70px;    
    letter-spacing: -3px;
    word-spacing: -9px;
    font-stretch: extra-expanded;
    margin-bottom: 30px;
} */

/* seconda riga del jumbotron */

/* colonna di sinistra */

/* .col-sx{
    width: 30%;
}

.jumbo-box .col-sx p{
    line-height: 26px;
    font-size: 20px;
    word-spacing: 8px;


}

.jumbo-box .col-sx .btn{
    margin-top: 40px;
}

.jumbo-box .col-sx .btn a{
    margin-left: 0;
    font-size: 18px;
}

.jumbo-box .col-sx span{
    display: inline-block;
    margin-top: 20px;
    
}

.jumbo-box .col-sx i{
    margin-top: 60px;
    padding-bottom: 60px;
    font-size: 50px;

} */

/* colonna di destra */

/* .col-dx{
    width: 70%;
}

.jumbo-img{
    position: absolute;   
    right: 0;
    bottom: 0;
} */

/* sezione jumbotron dopo la correzione */

.jumbotron{
    background-color: #b4d0e7;
    position: relative;
    

}

.jumbo-box{
    padding-top: 150px;
    width: 90%;
    margin: 0 auto;
    
}
.jumbo-box h1{
    font-size: 70px;
    margin-bottom: 30px;
}

.jumbo-text i{
    margin-top: 60px;
    padding-bottom: 60px;
    font-size: 50px;
}

/* sezione jumbotron di sinistra con testo */
.jumbo-text{
    width: 30%;
}

.jumbo-text p{
    line-height: 26px;
    font-size: 20px;
}

.jumbo-text .btn{
    margin-top: 40px;
}

.jumbo-text .btn a{
    margin-left: 0;
    font-size: 18px;
}

.jumbo-text span{
    display: inline-block;
    margin-top: 20px;
    
}
 /* sezione jumbotron di destra con immagine */

.jumbo-img{
    width: 65%;
    margin-left: 5%;
    position: absolute;
    left: 30%;
   
}

.jumbo-img img{
    width: 100%;
    
}







/* sezione main */


/* prima sezione - piano dropbox */

.plane .check:first-child{
    border: 5px solid #0061ff;
}

#piano-dropbox .container{
    padding-top: 20px;
}

#piano-dropbox h2{
    
    font-size: 40px;
    margin: 150px 0 30px 0;
}

.col{
    width: calc(100% / 3 - 40px);
    float: left;
    border: 1px solid lightgrey;
    margin-bottom: 50px;
    
}

.col .last-sx{
    padding-bottom: 42px;
}

.col .last-dx{
    padding-bottom: 9px;

}

.col.cnt{
    margin: 0 40px;
}

.plane{
    margin-bottom: 30px;
}

.fatturazione{
    margin-right: 20px;
}


/* dentro la colonna */

.col-title{
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.col-title i{
    font-size: 13px;
}

/* informazioni dentro la colonna */


.col-title,
.col-info,
.punti-salienti{
    padding: 10px 20px;
}

.type h3,
.type div{
    line-height: 35px;
}

.type p{
    line-height: 0;
}

.type h3{
    font-size: 25px;
}

.type div:nth-child(3),
.type p {
    font-size: 13px;
    color: grey;
}

.service{
    margin-top: 40px;
    font-size: 13px;
}

.service>div{
    margin-bottom: 25px;

}

.service i,
.punti-salienti i{
    vertical-align: top;
}

.service span{
    display: inline-block;
    width: 90%;
}


.col .btn{
    margin-top: 50px;
}

.col .btn a{
    margin-left: 0;
    padding: 10px 35px;
}

.col-info>div:nth-last-child(1) {
    margin-top: 30px;
    font-size: 13px;
}

.col-info span a{
    text-decoration: underline;
    color:  #2a7bff;
}


/* punti salienti */

hr{
    width: 15%;
    margin: 20px 0;
    border: none;
    border-top: 1px solid lightgrey;
}


.punti-salienti h4{
    margin: 40px 0 20px;
}

.punti-salienti>div{
    margin-bottom: 15px;
}


.punti-salienti span{
    display: inline-block;
    width: 90%;
}


.punti-salienti i{
    font-size: 10px;
    color: #2a7bff;
}

.punti-salienti span{
    font-size: 13px;
}


/* colonna che prende tutta la larghezza */

.enterprise{
    width: calc(100% - 40px);
    border: 1px solid lightgrey;
}
.enterprise h3{
    font-size: 25px;
}

.enterprise .col-info{
    padding: 30px 20px;
}

.enterprise .row:last-child div {
    font-size: 16px;
    font-weight: bold;
    
}

.enterprise .row:last-child div,
.enterprise .row:last-child p{
    padding-top: 20px;

}



/* sezione trova partner */

#trova-partner{
    margin-top: 150px;
}

#trova-partner .col.sx{
    border: none;
    width: 50%;
}

#trova-partner .col.sx img{
    width: 100%;
}



#trova-partner .col.dx{
    border: none;
    width: 45%;
    padding: 50px 30px;
    margin-left: 5%;
    line-height: 25px;
}

#trova-partner .col.dx h3{
    font-size: 25px;
    margin-top: 17px;
    margin-bottom: 40px;
}

#trova-partner .col.dx p{
    font-size: 19px;
}

#trova-partner .col.dx a{
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px 20px;
}



/* sezione operazioni dropbox */

#operazioni-dropbox h2{
    font-size: 40px;
    margin: 50px 0;
}


#operazioni-dropbox .col{
    width: calc(100% / 3 - 40px);
    border: none;
    
}

#operazioni-dropbox .col img{
    width: 100%;
}

#operazioni-dropbox .col h3{
    font-size: 27px;
    margin: 20px 0;
}

#operazioni-dropbox .col p{
    line-height: 20px;
    font-size: 18px;
    margin-bottom: 50px;
}

#operazioni-dropbox p>a{
    text-decoration: underline;
}


/* sezione scopri clienti */

#scopri-clienti h2{
    font-size: 50px;
    padding: 100px 300px 30px 0;
    
}

#scopri-clienti a{
    font-size: 20px;
    color: #0061ff;
    text-decoration: underline;
}

/* blocchi aziende */

.aziende-partner{
    padding-top: 50px;
}

.blocco{
    width: calc(100% / 3);
    float: left;
}
    
.partner{
    width: 50%;
    height: 32vh;
    line-height: 32vh;
    text-align: center;
    float: left;
}

.partner img{
    width: 60%;
    filter: invert(1);
    vertical-align: middle;
    
}

.partner img.padding{
    padding: 20px;
}

/* blocco centrale */

.blocco.centrale{
    padding:80px 50px;
    height: 64vh;
    overflow-y: auto;
    
    
}

.blocco.centrale img{
    width: 40%;
    margin-bottom: 10px;
    
}

.blocco.centrale p{
    margin: 10px 0 40px;
    line-height: 1.6;
    font-size: 17px;
    
    
}

.blocco.centrale span{
    font-size: 14px;
}

/* selezione blocco */
.partner.select{
    border: 10px solid rgba(255,255,255,0.5);  
}

/* colori blocchi */

.clr-greenblue{
    background-color: #a2d39b;
}

.clr-bordeaux{
    background-color: #61082b;
}

.clr-skyblue{
    background-color: #0093ce;
}

.clr-red1{
    background-color: #ff1c1c;
}

.clr-red2{
    background-color: #d5001f;
}

.clr-lightblue{
    background-color: #b4d0e7;
}

.clr-blue{
    background-color: #0d2481;
}

.clr-yellow{
    background-color: #ffd830;
}

/* sezione footer */
footer{
    background-color: black;
}











/* sezione debug */
/* 
.debug .header-top{
    background-color: red;
} */



/* .debug #piano-dropbox{
    height: 800px;
    background-color: blue;
} */

/* .debug #trova-partner{
    height: 500px;
    background: yellow;

} */

/* .debug #operazioni-dropbox{
    height: 800px;
    background-color: chocolate;
} */

/* .debug #scopri-clienti{
    height: 500px;
    background-color: green;
} */

.debug #inizia-prova{
    height: 300px;
    background-color: pink;
}

.debug #domande{
    height: 600px;
    background-color: rgb(255, 147, 74);
}


.debug footer{
    height: 800px;
}

/* .debug #piano-dropbox .col{
    height: 800px;
    background-color: lightsalmon;
} */

/* 
.debug .blocco{
    background-color: darkorchid;
    height: 500px;
} */

/* .debug .partner{
    background-color: black;
} */